@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {box-sizing: border-box;}

body {
  margin: 0;
  

}
.container-home{
  background:linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),
 url(../../images/fondoF.jpg);
}

.topnav {
  overflow: hidden;
  background-color: #F27070;
  background:linear-gradient(rgba(246, 98, 98, 0.75), rgba(246, 98, 98, 0.75));
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.5;
}


.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 50%;
  

}
.topnav input[type=text]:focus {
 width: 70%;
 transition: 0.5s;
  

}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.topnav .search-container button:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }}

  
  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pos-card{
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 20px));
  padding: 5%;
  text-decoration: none;
  border-radius: 20px;
 
}
.container-cards{
  text-decoration: none;
}



.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
  display: none;
}

.content-select{
	position: relative;
  display: inline-block;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #F27070;
	font-size: 1em;
  color: white;
  font-family: 'Roboto', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 

 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.select{
  display: inline-block;
  margin: 5px;
  width: 300px;
}


.title-home{
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  

}
h1{
  font-family: 'Roboto', sans-serif;
}
/* button*/
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  
}
.btn2{
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #F27070;
}
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  margin: auto;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
  
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.box-1{
  margin-bottom: 20px
}

.loader{
  margin: 200px;
}

.back-img{
  background-image: url(../../images/wrong404.png);
  height: 500px;
  margin-top: 20px;
  text-align: center;
  padding-top: 420px;
}

.title-error{
  color: white;
  margin-top: 3%;
 
}

.title-error-h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.title-main-h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.temperamentsShow{
  font-family: 'Roboto', sans-serif;
  color: white;
}
.container-temperaments{
  background-color: #F27070;
}